@charset "UTF-8";
* {
	margin: 0; padding: 0
}

body {
	font-size: 15px;
	font-family: 맑은 고딕, 굴림;
}

a {
	color: #000000;
	text-decoration: none;	
}

a:hover {
	color: tomato;
	text-decoration: underline;
}